%tr{ id: "row-#{catalog.id}" }
	- if can? :destroy_multiple, Catalog
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_catalog_path(catalog), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{catalog.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{catalog.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{catalog.id}" }

		%td{style:"width: 30%"}
			= link_to "", admin_catalog_path(catalog, search: @query), remote: true, class: "show-row"
			%span
				= catalog.name
		%td{style:"width: 30%"}
			= link_to "", admin_catalog_path(catalog, search: @query), remote: true, class: "show-row"
			%span
				= catalog.image
	%td{style:"width: 5%"}
		= link_to admin_catalog_path(catalog), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")