= title(t('keppler.titles.show', model: "Services"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Service
				= link_to admin_service_path(@service), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Service
				= link_to edit_admin_service_path(@service), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_services_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
						.display-value.fs-body-1.tc-black-2= @service.id
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.tittle")
						.display-value.fs-body-1.tc-black-2= @service.tittle
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.body")
						.display-value.fs-body-1.tc-black-2= @service.body.html_safe
