html,
body,
main {
  height: 100%;
}

html {

  @include respond-to(xl) {
    font-size: $base-font-size;
  }

  @include respond-to(lg) {
    font-size: 12px;
  }

  @include respond-to(md) {
    font-size: 11px;
  }

  @include respond-to(sm) {
    font-size: 10px;
  }

  @include respond-to(xs) {
    font-size: 9px;
  }
}

body {
  font-family: $roboto;

  .alert {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100000;
    min-width: 500px;
    @include respond-to(xs) {
       min-width: 300px;
    }
  }

    .alert-success {
      background-color: $islamic-green;
      border-color: #d6e9c6;
      color: $white;
    }
}
