// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts size
$base-font-size: 14px;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$primary-color: #ee6e73;
$white: #fff;
$whisper: #e7e7e7;
$black: #000;
$thatch-green: #4d482c;
$islamic-green: #090;
$deep-sky-blue: #0cf;
$christi: #690;
$dark-turquoise: #0bcfd9;
///clients
$very-light-grey: #ccc;
// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
