.blog {
  background: url('bg-blog.jpg') no-repeat fixed center;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
}

.blog-content {
  padding-top: 25px;
}

.thumbnail-customize {
  background: transparent;
  border: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.author-picture-container {
  margin-left: 25px;
  margin-top: -45px;
  position: absolute;

  img {
    border-radius: 50%;
  }
}

.caption-blog {
  font-family: $roboto;

  h3 {
    font-family: $roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: $bold;
  }

  p.author-post {
    font-family: $roboto;
    font-size: 1.2rem;
    font-style: bold;
    font-weight: $normal;
    margin-bottom: 30px;
  }

  p {
    font-family: $roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: $light;
    margin-bottom: 35px;
    }
}

.caption-footer {
  background-color: $very-light-grey;
  padding: 10px;
  text-align: right;
}
