.contact {
  background: url('bg-footer.jpg') no-repeat fixed center;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo-section {
  color: $white;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-right: 250px;

  p {
    padding-top: 20px;
  }

  @include respond_to(xl) {
    @include transition(all .3s ease);
    padding-right: 80px;
  }

  @include respond_to(lg) {
    @include transition(all .3s ease);
    padding-right: 60px;
  }

  @include respond_to(md) {
    @include transition(all .3s ease);
    padding-right: 0;
  }

  @include respond_to(sm) {
    @include transition(all .3s ease);
    padding-right: 0;
    text-align: center;
  }

  @include respond_to(xs) {
    @include transition(all .3s ease);
    padding: 0 10px;
    text-align: center;
  }

  p {
    font-size: 1.4rem;
  }
}

.contact-header {
  .tittle-section {
    color: $white;
  }
}

.icon-contact {
  border-bottom: 2px solid;
  padding-top: 90px;

  @include respond_to(sm) {
    @include transition(all .3s ease);
    padding-top: 20px;
  }

  @include respond_to(xs) {
    @include transition(all .3s ease);
    padding-top: 20px;
  }

  h4 {
    display: inline;
    font-size: 1.8rem;
  }

  i {
    display: inline;
  }
}

.icon-social-media {
  padding-top: 15px;
}

.btn-round {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  padding: 0;
  width: 50px;

  i {
    font-size: 20px;
    position: relative;
    top: 15px;
  }
}

.btn-clear {
  @include transition-duration(.8s);
  @include transition-property(transform);
  border: 1px solid $white;
  color: $white;
  font-weight: bold;

  &:hover {
    @include transform(rotate(360deg));
    background: $islamic-green;
  }
}

.btn-instagram {
  &:hover {
    color: $black;
  }
}

.btn-facebook {
  &:hover {
    color: $black;
  }
}

.btn-twitter {
  &:hover {
    color: $black;
  }
}

.btn-youtube {
  &:hover {
    color: $black;
  }
}

.btn-google-plus {
  &:hover {
    color: $black;
  }
}

.btn-linkedin {
  &:hover {
    color: $black;
  }
}

.contact-content {
  @include respond_to(xl) {
    @include transition(all .3s ease);
    padding-right: 200px;
  }

  @include respond_to(lg) {
    @include transition(all .3s ease);
    padding-right: 200px;
  }

  @include respond_to(md) {
    @include transition(all .3s ease);
    padding-right: 100px;
  }

  @include respond_to(sm) {
    @include transition(all .3s ease);
    padding-right: 0;
  }

  @include respond_to(xs) {
    @include transition(all .3s ease);
    padding-right: 0;
  }

  input {
    margin: 15px 0;
  }

}

.recaptcha {
  transform: scale(.77);
  transform-origin: 0 0;
}
