.home {
  // Home carousel movil
  .carousel-home-movil {
    .content {
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      position: absolute;
      width: 100%;
      height: 100vh;

      .logo {
        width: 300px;
      }
    }

    .message {
      color: $white;
      font-weight: $light;
      font-size: 2.5rem;
      margin-left: 20px;
      margin-right: 20px;
      font-style: italic;
    }

    .title-move {
      color: $white;
      font-size: 3rem;
      font-weight: 900;
      position: absolute;
      bottom: 40px;
      right: 20px;
    }

    .txt-black {
      margin-top: 20px;
      color: $thatch-green;
    }
  }
  // End carousel movil

  // Home carousel desktop
  .carousel-home {
    .content {
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      position: absolute;
      width: 100%;
      height: 100vh;

      .logo {
        @include respond_to(xl) {
          width: 800px;
        }
        @include respond_to(lg) {
          width: 600px;
        }
        @include respond_to(md) {
          width: 450px;
        }
      }
    }

    .content-slide {
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      box-shadow: 10px 10px rgba(0, 0, 0, .1);
      position: absolute;
      width: 650px;
      height: 400px;

      @include respond-to(lg) {
        width: 600px;
        height: 300px;
      }

      @include respond-to(md) {
        width: 500px;
        height: 300px;
      }

      @include respond-to(sm) {
        width: 450px;
        height: 250px;
      }
      
    }

    .paralelogram-right{
      @include transform(skew(40deg));
      top: 55px;
      left: 300px;

      @include respond-to(lg) {
        left: 250px;
      }

      @include respond-to(md) {
        left: 175px;
      }

      @include respond-to(sm) {
        left: 150px;
      }

      .message {
        @include transform(skew(-40deg));
      }
    }

    .paralelogram-left{
      @include transform(skew(-40deg));
      top: 55px;
      right: 300px;

      @include respond-to(lg) {
        right: 250px;
      }

      @include respond-to(md) {
        right: 175px;
      }

      @include respond-to(sm) {
        left: 150px;
      }

      .message {
        @include transform(skew(40deg));
      }
    }

    .message {
      color: $white;
      font-weight: $light;
      font-size: 3rem;
      margin-left: 50px;
      margin-right: 50px;
      font-style: italic;

      @include respond-to(xl) {
        font-size: 2.5rem;
      }

      @include respond-to(lg) {
        font-size: 2.5rem;
      }

      @include respond-to(md) {
        font-size: 2.8rem;
        margin-left: 25px;
        margin-right: 25px;
      }

      @include respond-to(sm) {
        font-size: 2.5rem;
        margin-left: 25px;
        margin-right: 25px;
      }
    }

    .title-move {
      color: $white;
      font-size: 6rem;
      font-weight: $normal;
      position: absolute;
      bottom: 40px;
    }

    .title-right {
      right: 80px;
    }

    .title-left {
      left: 80px;
    }

    .bg-green {
      background: rgba($islamic-green, .6);
    }

    .bg-blue {
      background: rgba($deep-sky-blue, .6);
    }

    .bg-green-lt {
      background: rgba($christi, .6);
    }

    .txt-black {
      margin-top: 20px;
      color: $thatch-green;
    }

    .txt-green {
      color: $islamic-green;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }

    .txt-blue {
      color: $deep-sky-blue;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }

    .txt-green-lt {
      color: $christi;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }
  }
}

  
