.services {
  background: $christi;
  padding-bottom: 30px;
  padding-top: 30px;
}

.services-header {
  .tittle-section {
    color: $white;
  }

  p {
    color: $white;
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.services-content {
  padding: 35px 0;
}

.panel {
  border: 0;
  border-radius: 0;
  margin-bottom: .5rem;
}

.panel-default>.panel-heading {
  background-color: $white;
}

.panel-title {
  font-family: $roboto;
  font-style: bold;
  font-weight: $bold;

  a {
    font-size: 1.8rem;

    &:hover,
    &:focus {
      color: $deep-sky-blue;
      text-decoration: none;
    }
  }

  .collapsed.arrow {
    .fa.fa-arrow::before {
      content: '\f104';
    }
  }

  .arrow {
    .fa.fa-arrow::before {
      content: '\f107';
    }
  }

}

.arrow-down {
  .fa.fa-arrow::before {
    content: '\f107';
  }
}

.panel-body {
  background-color: $christi;
  color: $white;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 30px;
}
