%nav.app-navbar.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.hidden-sm
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.hidden-xs
        = image_tag("app/logo-cmc-small.png", class: "img-responsive center-block")
      %a.navbar-brand.hidden-sm.hidden-md.hidden-lg
        = image_tag("app/logo-cms-white.png", size: "100x100" ,class: "img-responsive center-block")
    .navbar-collapse.collapse#bs-example-navbar-collapse-1.transitions
      %ul#onepage-nav.nav.navbar-nav.navbar-right.text-center
        = render 'app/layouts/navigation_links'