!!!
%html
	= render 'app/layouts/head'
	%body
		%header
			= render 'app/layouts/navigation'
		%main{:role => "main"}
			= render 'app/layouts/messages'
			= yield
			:javascript
				$(document).ready(function(){
					$('#onepage-nav').onePageNav();
				});
				function close_navbar_res() {
					if (screen.width<767)
						$('.navbar-toggle').click()
				};
				new WOW().init();
			%section#footer.footer
				= render "app/front/footer"