.caption-modal {
  color: $black;

  h3 {
    font-family: $roboto;
    font-size: 1.8rem;
    font-style: bold;
    font-weight: $bold;
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    font-family: $roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: $light;
  }
}

.bg {
  background-color: $whisper;
}

.footer-caption {
  color: $black;

  h2 {
    font-family: $roboto;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: $bold;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.btn-modal {
  background-color: $deep-sky-blue;
  color: $white;
  font-family: $roboto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: $light;
}
