#carousel-blog-movil.carousel-responsive.carousel.slide.hidden-md.hidden-lg{"data-ride" => "carousel"}
  %ol.indicators-customize.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-blog-movil"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-blog-movil"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-blog-movil"}
  .carousel-inner
    - @posts.each_with_index do |post, index|
      .item{ class: "#{'active' if index.zero?}" }
        .row
          .col-xs-12.col-sm-12
            %a.thumbnail.thumbnail-customize
              = image_tag(post.image, class: "img-responsive center-block")
              .author-picture-container
                = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "img-responsive center-block")
              .caption-blog
                %h3
                  = post.title
                %p.author-post
                  = post.user.name
                %p 
                  = sanitize(post.body, tags:[]).truncate(300)
              .caption-footer
                = link_to "Ver Más", "/blog/#{post.permalink}", class: "btn btn-default"
                .clearfix