#carousel-clients-responsive.carousel-responsive.carousel.slide.hidden-md.hidden-lg{"data-ride" => "carousel"}
  %ol.indicators-customize.carousel-indicators
    - @sliders.count.times do |index|
      %li{"data-slide-to" => "#{index}", "data-target" => "#carousel-clients-responsive", class: "#{ 'active' if index.zero? }"}
  .carousel-inner
    - @sliders.each_with_index do |slider, i|
      .item{ class: "#{'active' if i.zero?}" }
        .row
          .col-xs-12.col-sm-12.group-avatar
            .img-clients
              = image_tag(slider.image, class: "img-responsive center-block")