#carousel-our-team.carousel-customized.carousel.slide.hidden-xs.hidden-sm{"data-ride" => "carousel"}
  %ol.indicators-customize.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-our-team"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-our-team"}
  .carousel-inner
    .item.active
      .row
        .col-md-4.group-avatar{"data-toggle" => "modal", "data-target" => "#modal-team"}
          .img-avatar
            = image_tag("app/team-alianza.jpg", class: "img-responsive center-block", width: 220)
          .caption-avatar.text-center
            Nuestro Equipo
        .col-md-4.group-avatar{"data-toggle" => "modal", "data-target" => "#modal-first"}
          .img-avatar
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'hector.rojas@alianzacmc.com'}?s=220", class: "img-responsive center-block")
          .caption-avatar.text-center
            Héctor Rojas Palacios
        .col-md-4.group-avatar{"data-toggle" => "modal", "data-target" => "#modal-second"}
          .img-avatar
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'fabricio.rondon@alianzacmc.com'}?s=220", class: "img-responsive center-block")
          .caption-avatar.text-center
            Fabricio Eduardo Rondón
    .item
      .row
        .col-md-4.group-avatar{"data-toggle" => "modal", "data-target" => "#modal-third"}
          .img-avatar
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'dulceluz.salazar@alianzacmc.com'}?s=220", class: "img-responsive center-block")
          .caption-avatar.text-center
            Dulceluz Salazar Rasquin
        .col-md-4.group-avatar{"data-toggle" => "modal", "data-target" => "#modal-fourth"}
          .img-avatar
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'evelyn.schwarts@alianzacmc.com'}?s=220", class: "img-responsive center-block")
          .caption-avatar.text-center
            Evelyn Schwarts
        .col-md-4.group-avatar{"data-toggle" => "modal", "data-target" => "#modal-fifth"}
          .img-avatar
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'reinaldo.villanueva@alianzacmc.com'}?s=220", class: "img-responsive center-block")
          .caption-avatar.text-center
            Reinaldo Villanueva