!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %center
      %h1= "Contacto "
    %p
      %strong Nombre:
      = @message.name
    %p
      %strong Email:
      = @message.email
    %p
      %strong Asunto:
      = @message.subject
    %p
      %strong Mensaje:
      = @message.content