#modal-team.modal-team.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-lg.modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = image_tag("app/team-alianza.jpg", class: "img-responsive center-block")
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.caption-modal
            %h3
              Nuestro Equipo
            %p
              Nos constituimos a partir del coaching, que es nuestra pasión común, integrando nuestras diversas trayectorias y experiencias profesionales en el mundo corporativo. Desde ahí, hemos creado una alianza, en la cual cada uno de nosotros aporta para construir un sueño compartido al servicio de las organizaciones en la gestión de sus desafíos adaptativos. Convencidos que juntos llegaremos más lejos, disfrutando nuestro medio de vida y siendo capaces de prosperar en cualquier futuro posible.
      .modal-footer.bg
        .footer-caption
          %h2.text-center
            Comunicate con nosotros y hagamos cosas extraordinarias
        %button.btn.btn-modal.center-block{:onclick => "close_and_redirect()", :type => "button"} Contactanos
    / /.modal-content
  / /.modal-dialog
/ /.modal

#modal-first.modal-team.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-lg.modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'hector.rojas@alianzacmc.com'}?s=400", class: "img-responsive center-block")
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.caption-modal
            %h3
              Héctor Rojas Palacios
            %p
              Coach Ontológico Profesional con certificación internacional en Coaching Ejecutivo, formado en CEGO. Con más de 14 años de experiencia en el mundo corporativo en áreas de innovación, liderando equipos multidisciplinarios de trabajo y proyectos de servicios, en empresas nacionales y trasnacionales. Ingeniero de Sistemas de la UNEXPO, Caracas-Venezuela. Formado en el Intensivo Latinoamericano de Coaching Corporal y en el Taller de Liderazgo Corporal. Desde mi servicio, pongo a disposición mi experiencia, maestría e innovación a las organizaciones que quieren transformar su rango de acción efectiva para obtener resultados diferentes.
      .modal-footer.bg
        .footer-caption
          %h2.text-center
            Comunicate con nosotros y hagamos cosas extraordinarias
        %button.btn.btn-modal.center-block{:onclick => "close_and_redirect()", :type => "button"} Contactanos
    / /.modal-content
  / /.modal-dialog
/ /.modal

#modal-second.modal-team.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-lg.modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'fabricio.rondon@alianzacmc.com'}?s=400", class: "img-responsive center-block")
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.caption-modal
            %h3
              Fabricio Eduardo Rondón
            %p
              Coach Ontológico Profesional con certificación internacional en Coaching Ejecutivo, formado en CEGO, con experiencia como facilitador Ontológico. Ingeniero en Electrónica egresado del IUP Santiago Mariño Caracas-Venezuela. Con Diplomado en Gestión de la Innovación Empresarial. Cuento con más de 15 años de experiencia en organizaciones nacionales y transnacionales desempeñándome en el liderazgo de equipos y gestión de proyectos. Mi experiencia me permite potenciar la transformación y desempeño de las personas tanto en su negocio como a nivel personal para obtener resultados deseados y su bienestar.
      .modal-footer.bg
        .footer-caption
          %h2.text-center
            Comunicate con nosotros y hagamos cosas extraordinarias
        %button.btn.btn-modal.center-block{:onclick => "close_and_redirect()", :type => "button"} Contactanos
    / /.modal-content
  / /.modal-dialog
/ /.modal

#modal-third.modal-team.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-lg.modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'dulceluz.salazar@alianzacmc.com'}?s=400", class: "img-responsive center-block")
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.caption-modal
            %h3
              Dulceluz Salazar Rasquin
            %p
              Coach Ontológico Profesional con certificación internacional como Coach Ejecutivo formada en CEGO, me capacité en el Taller Intensivo  Latinoamericano de Coaching Corporal, Facilitadora en procesos cognitivos y conductuales.  Licenciada  en  Relaciones Industriales, egresada de la UCAB Caracas-Venezuela con especialización en salarios y compensación ejecutiva-UCAB. Más de 20 años de experiencia en Recursos Humanos, en empresas transnacionales y nacionales, liderando proyectos con equipos de trabajo. Desde mi experiencia,  estoy al servicio de las organizaciones, gestionando  el liderazgo organizacional y el desarrollo gerencial, para el logro de resultados diferentes.
      .modal-footer.bg
        .footer-caption
          %h2.text-center
            Comunicate con nosotros y hagamos cosas extraordinarias
        %button.btn.btn-modal.center-block{:onclick => "close_and_redirect()", :type => "button"} Contactanos
    / /.modal-content
  / /.modal-dialog
/ /.modal

#modal-fourth.modal-team.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-lg.modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'evelyn.schwarts@alianzacmc.com'}?s=400", class: "img-responsive center-block")
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.caption-modal
            %h3
              Evelyn Schwarts
            %p
              Coach Ontológico Profesional con certificación internacional como Coach Ejecutivo formada en CEGO. Cuento con más de 25 años de trayectoria gerencial en el ámbito corporativo en empresas multinacionales líderes en sus industrias y como empresaria en el área de consultoría y servicios de mercadeo. Licenciada en Mercadeo - Universty of Hartford (U.S.A.), egresada del Programa Avanzado de Gerencia del IESA. Me motiva poner mi experiencia al servicio de organizaciones e individuos y el poder facilitar y acompañar en procesos de transformación que revelan y desarrollan el potencial de liderazgo que existe en cada uno de nosotros.
      .modal-footer.bg
        .footer-caption
          %h2.text-center
            Comunicate con nosotros y hagamos cosas extraordinarias
        %button.btn.btn-modal.center-block{:onclick => "close_and_redirect()", :type => "button"} Contactanos
    / /.modal-content
  / /.modal-dialog
/ /.modal

#modal-fifth.modal-team.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-lg.modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest 'reinaldo.villanueva@alianzacmc.com'}?s=400", class: "img-responsive center-block")
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.caption-modal
            %h3
              Reinaldo Villanueva
            %p
              Coach Ontológico Profesional con Certificación Internacional en Coaching Organizacional, amplia experiencia como Coach, Mentor y Facilitador en programas de Certificación de Coaching  Ejecutivo y Gestión de Liderazgo en Organizaciones Globales. Trayectoria de 15 años en la gestión de proyectos en el sector de las telecomunicaciones, Ingeniero Electrónico con Maestría en Administración de Empresas, He adquirido competencias en manejo de técnicas de gestión de proyectos y desarrollo  de liderazgo  que conlleven a la integración de equipos de trabajo enfocados en la generación de resultados.
      .modal-footer.bg
        .footer-caption
          %h2.text-center
            Comunicate con nosotros y hagamos cosas extraordinarias
        %button.btn.btn-modal.center-block{:onclick => "close_and_redirect()", :type => "button"} Contactanos
    / /.modal-content
  / /.modal-dialog
/ /.modal

:javascript
  function close_and_redirect () {
    $('#modal-team, #modal-first, #modal-second, #modal-third, #modal-fourth, #modal-fifth').modal('hide');
    $('html, body').animate({scrollTop: $('#contact').offset().top}, 1500);
  }