.container
  .clients-header
    .tittle-section
      %h2
        NUESTROS CLIENTES
      %p
        “Ya no basta con satisfacer a los clientes, ahora hay que dejarlos encantados.”
.container
  = render 'app/front/carousels/clients_desktop'
  = render 'app/front/carousels/clients_movil'