.container-fluid.bg-image
  .container
    .our-team-header
      .tittle-section
        %h2
          conoce nuestro equipo
        %p
          "Si quieres ir rápido camina solo, si quieres llegar lejos ve acompañado."
    = render 'app/front/carousels/our_team_desktop'
    = render 'app/front/carousels/our_team_movil'
    = render 'app/front/modals/modal'