.container
  .services-header
    .tittle-section
      %h2
        Servicios
      %p
        “Que tu mejor producto esté siempre al servicio de tu mejor cliente.”
    %p
      Los programas de Alianza CMC se diseñan como proyectos, integrando varios productos de nuestro portafolio, lo que permite adaptar nuestros servicios a tus requerimientos.
.container-fluid.services-content
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    - @services.each_with_index do |service, i|
      .panel.panel-default
        .panel-heading{role: "tab", id: "heading-#{service.id}"}
          %h4.panel-title.text-center
            %a.arrow{"aria-controls" => "collapse-#{service.id}", "aria-expanded" => "#{i.zero? ? 'true' : 'false'}", "data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-#{service.id}", class: "#{'collapsed' if !i.zero?}", role: "button"}
              = service.tittle
              %i.fa.fa-arrow
        .panel-collapse.collapse{"aria-labelledby" => "heading-#{service.id}", role: "tabpanel", id: "collapse-#{service.id}", class: "#{'in' if i.zero?}"}
          .panel-body
            .container
              = service.body.html_safe