%section#home.home
	= render "home"
%section#us.us
	= render "us"
%section#our.our-team
	= render "our_team"
%section#services.services
	= render "services"
%section#clients.clients
	= render "clients"
%section#blog.blog
	= render "blog"
%section#contact.contact
	= render "contact"
